﻿
@{
    ViewBag.Title = "AdminEkrani";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    
    @*<meta name="viewport" content="width=device-width" />*@
    <title></title>

</head>
<body>

   


    <div class="col-lg-7">
        <table class="table table-striped">
            <tr>
                <td class="info">Çalışan Ad</td>
                <td class="warning">Çalışan Soyad</td>
                <td class="success">Ünvan</td>
                <td class="danger">Yapılan İş</td>
                <td class="info">Puan</td>
                <td class="warning">Açıklama</td>

            </tr>
            <tr>
                <td>Meltem</td>
                <td>Uzavcı</td>
                <td>Yazılım Uzmanı</td>
                <td>133</td>
                <td>2</td>
                <td>Daha sıkı çalışmalısın</td>

            </tr>
            <tr>
                <td>Ali</td>
                <td>Veli</td>
                <td>Test Uzmanı</td>
                <td>143</td>
                <td>5</td>
                <td>Çok iyi</td>
            </tr>
        </table>
    </div>

</body>
</html>
