﻿
@{
    ViewBag.Title = "CalisanDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
<head>

</head>
<body>

    <div class="col-lg-7">
        <table class="table table-striped">
            <tr>
                <td class="danger">Çalışan Ad</td>
                <td class="warning">Çalışan Soyad</td>
                <td class="success">Ünvan</td>
                <td class="active">Çalışan Düzenle</td>
            
            </tr>
            <tr>
                <td>Meltem</td>
                <td>Uzavcı</td>
                <td>Yazılım Uzmanı</td>
                <td><a href="Home/Duzenle"class="btn btn-warning">Düzenle </a> </td>
              
               
            </tr>
            <tr>
                <td>Ali</td>
                <td>Veli</td>
                <td>Test Uzmanı</td>
                <td><button href="Home/Duzenle" type="button" class="btn btn-warning">Düzenle</button> </td>

            </tr>
        </table>
    </div>


</body>
</html>
