﻿@{
    ViewBag.Title = "Melteeeeeeeeeeem";
}
<html>
<head>

</head>
<body>


    <div class="jumbotron" style="background:#CCFFFF">
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-10">

                <h2>Performans Değerlendirme Sistemi</h2>
                <p class="lead"> Performans değerlendirme sistemi çalışanlarınızı daha adil ve kolay puanlayabilmenizi, yapılacak işleri ve tamamlanmış işleri daha net görmenizi sağlar.</p>
                <br />
                @*<a class="btn btn-lg btn-primary" href="admin/Main" role="button">Üye Girişi &raquo;</a>
                <a class="btn btn-lg btn-default" href="admin/Main/CalisanGiris" role="button">Üye Ol &raquo;</a>*@
            </div>

            <div class="col-lg-1">

            </div>
        </div>
    </div>
 
            @*<button type="button" class="btn btn-outline-success">Success</button>*@
            @*@Html.ActionLink("Üye Girişi", "Index", "Main", new { area = "admin" }, new { })*@



</body>
</html>