﻿
<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
@*<title>@ViewBag.Title</title>*@
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>


    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


   



           <div class="jumbotron" style="background:#CCFFFF">
                <div class="row">
                    <div class="col-lg-1">

                    </div>

                    <div class="col-lg-10">

                        @*<div class="jumbotron" style="background:#15d4f5;color:#fff;">*@
                        <h1>Performans Değerlendirme Sistemi</h1>
                    </div>
                </div>


            </div>
            @RenderBody()


</body>
</html>
