﻿
@{
    //ViewBag.Title = "Admin sayfasıdır";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}


<html>
<head>
   
</head>
<body>
   


    <div class="container">
        <div class="row">
            <div class="col-lg-4">
               
            </div>
            <div class="col-lg-4">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Lütfen Giriş Yapın</h2>
                        <label for="inputEmail" class="sr-only">Email adres :</label>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email adres" required autofocus>
                        <label for="inputPassword" class="sr-only">Şifre :</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Şifre" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Beni Hatırla
                            </label>
                        </div>
                                 <button class="btn btn-lg btn-primary" href="#" type="submit">Giriş Yap &raquo;</button>
                      
                   </form>

                </div>
               
            </div>
           
        </div>

      
</body>
</html>