﻿
@{
    ViewBag.Title = "CalisanGiris";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}

<html>
<head>
 
</head>
<body>
   
        <div class="row">
            <div class="col-lg-2">

            </div>

                <div class="col-lg-6">
                    <div class="jumbotron">
                        <h5>---Hoşgeldiniz.Lütfen aşağıdaki bilgileri eksiksiz doldurun...</h5>
                       
                    </div>

                </div>
          </div>
 
    
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-2">
                <label for="ad" class="text-primary">Ad :    </label>
                <input type="text" id="ad" class="text-primary" placeholder="Ad" required autofocus>
                <br/>
                <br /><label for="soyad" class="text-primary">Soyad :</label>
                <input type="text" id="soyad" class="text-primary" placeholder="Soyad" required autofocus>
                <br />
                <br /><label for="unvan" class="text-primary">Ünvan :</label>
                <select class="form-control text-primary">  <option> Yazılım Uzmanı </option> </select>
                <br />
                <label for="KullaniciAd" class="text-primary">Kullanıcı Adınız :    </label>
                <input type="text" id="KullaniciAd" class="text-primary" placeholder="Kullanıcı Ad" required autofocus>
                <br /><br />
                <label for="sifre" class="text-primary">Şifre :</label>
                <input type="password" id="sifre" class="text-primary" placeholder="Şifre" required>
                <br /><br />
                <label for="sifreTekrar" class="text-primary">Şifre Tekrar:</label>
                <input type="password" id="sifreTekrar" class="text-primary" placeholder="Şifre Tekrar" required>
                <br/><br/>
                <div />
                 <div class="col-lg-5">

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-primary">Kaydol</button>
                <br /><br /><br /><br /><br /><br />
            </div>
        </div>
    </div>


</body>
</html>

